table.compare.with-star.three-tbl
  - for i in (1..3)
    tr
      td.first-call.hover-show-rank
        a OZON.ru
        .prices_rate.rate2.visible-hover
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
      td.midl-call
        span.price 24 300 р.
      td.last-call
        .btn.btn-sm
          span.hidden-xs В магазин
          span.glyphicon.glyphicon-shopping-cart.visible-xs